.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 33vw;
    margin: 0 auto;
    margin-top: 10vh;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
    background-color: #fff;
    border: 2px solid lightblue;
    transition: all 0.3s ease;
    &:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    }
}

.title {
    font-size: 2rem;
    font-weight: 600;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.form input {
    width: 90%;
    padding: 0.5rem 2rem;
    border: 2px solid lightblue;
    border-radius: 0.25rem;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #f0f0f0;
    outline: none;
    transition: all 0.3s ease;
    &:focus {
        border-color: #007bff;
    }
}
.form button {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ff0011;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.3s ease;;
    &:hover {
        background-color: #007bff;
    }
}