.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 95vw;
    flex-direction: column;
}
.usersList {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center;
    justify-content: center; */
    gap: 1rem;
    border: 2px solid red;
    /* padding: 2rem 3rem; */
}
.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 28vw;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1rem;
    background-color: #fff;
    border: 2px solid lightblue;
    transition: all 0.3s ease;
    &:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    }
}
.user h2 {
    font-size: 1.5rem;
    font-weight: 600;
}
.user p {
    font-size: 1.2rem;
    font-weight: 500;
}
